{% extends 'base.html' %}
{% load static %}

{% block titre_page %} PASSWORD RESET {% endblock %}

{% block header_content %} 
<div style="height: 100px;"></div>
{% endblock %}

{% block main_content %}
    <div style="display: flex;flex-direction: column;align-items: center;">
        <h2>Vérifiez votre e-mail</h2>
        <p>
            Un lien pour réinitialiser votre mot de passe a été envoyé à votre adresse e-mail. Suivez les 
            instructions dans l'e-mail pour réinitialiser votre mot de passe.
        </p>
        <p><a href="{% url 'sign_in' %}">Retour à la page de connexion</a></p>
    </div>
{% endblock %}