{% extends 'base.html' %}
{% load static %}

{% block titre_page %} PASSWORD RESET {% endblock %}

{% block header_content %} 
<div style="height: 100px;"></div>
{% endblock %}

{% block main_content %}
    <div style="display: flex;flex-direction: column;align-items: center;">
        <h2>Mot de passe réinitialisé</h2>
        <p>
            Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant 
            vous connecter avec votre nouveau mot de passe.
        </p>
        <p><a href="{% url 'sign_in' %}">Se connecter</a></p>
        </div>
{% endblock %}