{% load static %}

<footer style="display: flex;flex-direction: column; background-color: #007bff;color: white;text-align: center;">
  <div class="container p-4 pb-0" style="display: flex;flex-direction: row;justify-content: space-between;">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.youtube.com/@Thelion1.0"
        role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="https://wa.me/+237654181932"
        role="button"
        ><i class="fab fa-whatsapp"></i
      ></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://linkedin.com/in/thibaut-moukam-4606972ba"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/moukamthibaut9/"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- End Section: Social media -->
     <!-- Section: CTA -->
     <section>
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Faites un don pour nous soutenir</span>
        <a href="#">
            <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded" 
            style="color: black;">
            Procceder
            </button>
        </a>
      </p>
    </section>
    <!-- End Section: CTA -->
  </div>
  <!-- Copyright -->
  <div class="copyright">
    &copy; Copyright <strong><span>PIPO FEDERATION</span></strong>. All Rights Reserved
  </div>
  <!-- End Copyright -->
</footer>